@font-face{
    font-family: 'montserratregular';
    src: url('/assets/Montserrat-Regular-webfont.eot');
    src: url('/assets/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Montserrat-Regular-webfont.woff') format('woff'),
         url('/assets/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('/assets/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
p,li{
  font-family: 'montserratregular', Arial, sans-serif !important;
  font-size: 10pt;
}
.alert,.text-center{
  text-align: center;
}