.row
  .col-md-12
    %hr
    %p
      HIVEMIND ImageBoard is
      %a{:href => 'https://github.com/samurailink3/hivemind'} open source
      and licensed under the
      %a{:href => 'http://opensource.org/licenses/MIT'} MIT License
      \.