.row
  .col-md-6
    %h1 THE RULES
    %p Yea, I know... Rules are annoying, but in order to host the site, we're gonna need some ground rules. They are easy and non-intrusive. These rules relate to how the site technically works and how you should use it.
    %p Check it:
  .col-md-6
    .well
      %h1 Technical
      %ol
        %li
          The software is
          %a{:href => 'https://github.com/samurailink3/hivemind/'} Open Source
          and licensed under the
          %a{:href => 'http://opensource.org/licenses/MIT'} MIT License.
        %li If you don't like the rules, make your own server. Seriously, it's not that hard.
        %li Boards can contain 100 Threads across 10 pages (10 per page)
        %li Threads can contain 500 posts (with or without images)
        %li A post must contain text, but an image is optional
        %li Post text can't exceed 5000 characters
        %li Post images can't exceed 5 megs
        %li New posts move the thread to the #1 spot
        %li Threads without new posts sink in relation to those that do
        %li This ensures more active posts stay on the front page
        %li Only 100 threads will be shown
        %li Stale posts (that aren't in the top 100 most recently active threads) are purged each hour (along with files)
      %h1 Use
      %ol
        %li Don't post illegal images
        %li Don't spam
