<!DOCTYPE html>
<html>
<head>
  <title>HIVEMIND</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link data-turbolinks-track="true" href="/assets/bootstrap.min.css" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="/assets/bootstrap-theme.min.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
